


@font-face {
    font-family: 'Eoe_Zno_EB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_EB.woff') format('woff');} 

    
    




body, .main-container{
  margin : 0 ; 
  padding : 0 ; 
}


.main-container {
  position : relative ; 
  
}

.main-container,
.main-container * {
}

input,
select,
textarea,
button {
  outline: 0;
} 

.main-container {
  position: relative;
  width: 100% ; 
  max-width: 1920px ; 
  margin : 0 auto ; 
  height: auto; 
  background: #ffffff;
  overflow: hidden;
  padding-top: 90px ;
}

 
  .h_wrap {
   position: absolute;
  width: 100%;
  height: 90px;
  background: #f1E3C4 ; 
  z-index: 10;
  }
  

  .h_wrap_copy{ 
  display: none;
  position: fixed;
  top: 0;
  width: 100%;  
  height: 60px;
  background:  #f1e3c4;
  z-index: 20000;   
  }  



.rectangle-1 {
  position: relative;
  width: 100%; 
  max-width: 1200px;
  height: 90px;
  margin: 0 auto ;  
  z-index: 3;
}


.group {
  position: absolute;
  width: 96px;
  height: 35.604px;
  top: -0.99px;
  left: 1103px;
  z-index: 22;
}


.korean {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 9px;
  left: 60px;
  color: #555;  
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align:right;
  white-space: nowrap;
  z-index: 23;
}


.top-rewards  {
  position: relative;
  width: 88px;
  height: 35.604px;
/*   top: -0.99px;
 */  left: 932px;
  z-index: 5; 
 }


.shilla-rewards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute; 
  width : auto ; 
  height: 17.802px;
  top: 9px;
  left: 31px; 
  font-size: 12px; 
  line-height: 17.802px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
  color: #555;
  font-size: 12px;
  font-weight: 600;
}


.rectangle-3 {
  position: absolute;
  width: 84px;
  height: 35.604px;
  top: -0.99px;
  left: 1019px;
  z-index: 19;
}  


.reservation-check {
  display: flex;
  width : auto ; 
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 9px;
  left: 50px;
  color: #555;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: right ; 
  white-space: nowrap;
  padding-left: 10px ;
  z-index: 20;
}


.rectangle-4 {
  position: absolute;
  width: 76px;
  height: 35.604px;
  top: -0.99px;
  left: 857px;
  z-index: 15;
}




.login {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17.802px;
  top: 9px;
  left: 41px;
  color: #555;
  font-size: 12px;
  font-weight: 600; 
  line-height: 17.802px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}


.top-logo {
  position: absolute;
  width: 200.887px;
  height: 49.725px;
  top: 19.643px;
  left: 454.556px;
  background: url(../images/top_logo.gif)
    no-repeat center;
  background-size: cover;
  z-index: 33;
}  





.h_wrap_copy > .top-logo-2{
  position: relative;
  width: 100% ;  
  max-width: 200px; 
  height: 49px;
  top: 7px; 
  margin: auto ;  
  z-index: 30000; 
}

.group-5 {
  position: absolute;
  width: 111px;
  height: 50.44px;
  top: 38.571px;
  left: 0;
  z-index: 26;
}



.search-icon {
    width: 18px;   /* 아이콘 크기 조정 */
    height: 18px;     
} 



.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 45px;
  margin: 16.813px 0 0 0;
  z-index: 27;
}

.hotel-search {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    white-space: nowrap; 
}


.calender_box {
  position: absolute;
  width: 83px;
  height: 50.44px;
  top: 38.571px;
  left: 114px;
  z-index: 31; 
  color: #555;
  font-size: 16px;
  font-weight: 600;  
  
}   

iframe{
  border : 0 ; 
}

.calender{
  width: 18px ; 
  height : 18px ; 
  padding-left : 8px ; 
}

.language-select {
    padding: 9px 10px;
    font-size: 12px;
    background: #f1E3C4 ;      
    color: #222;
    outline: none;
    transition: border 0.2s; 
    border : 0.5px solid #f1E3C4 ;   
}




.language-select:focus {
   background:    #f1E3C4 ;     
 }
.reservation-calendar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17.802px;
  top: 15.813px;
  left: -1px;  
  font-size: 16px;  
  line-height: 17.802px;
  text-align: left;
  white-space: nowrap;
  z-index: 32; 
  color: #555;  
  font-weight: 600;
}

.shilla-hotel-introduction {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 57.363px;
  left: 930px;
  color: #555;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;

}
.the-shilla-shop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 57.363px;
  left: 1154px;
  color: #555 ; 
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 12; 
}

.membership {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 57.363px;
  left: 1049px;
  color: #555; 
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
  padding-left: 20px ;
}




.rectangle-7 {
  position: relative;
  width: 1194px;
  height: 80px;
  margin: 853px 0 0 363px;
  background: #f2f2f2;
  z-index: 67;    
  vertical-align: center;   
  align-items: center;
}

.online-reservation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  left: 40px; 
  top : 40px; 
  transform: translateY(-50%);
  color: #767676 ; 
  font-size: 16px;
  font-weight: 400 ; 
  line-height: 18px ; 
  text-align: left;
  white-space: nowrap;
  z-index: 68;
}
.dining-reservation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top : 40px; 
  transform: translateY(-50%);
  left: 993px;
  color: #767676 ; 
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 68 ;  
  text-decoration: underline;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 1196px;
  margin: 130px 0 0 362px;
  z-index: 70;
}
.group-9 {
  flex-shrink: 0;
  position: relative;
  width: 1196px;
  height: 752px;
  z-index: 71;
}
.group-a {
  position: absolute;
  width: 1196px;
  height: 752px;
  top: 0;
  left: 0;
  z-index: 72;
}
.group-b {
  position: relative;
  width: 117px;
  height: 80px;
  margin: 0 0 0 540px;
  z-index: 81;
}
.frame-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 117px;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 82;
}
.frame-d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 237px;
  z-index: 83;
}
.group-e {
  flex-shrink: 0;
  position: relative;
  width: 237px;
  height: 80px;
  z-index: 84;
}
.group-f {
  position: relative;
  width: 237px;
  height: 44px;
  margin: 0 0 0 0;
  z-index: 85;
}
.special-offer { 
  position : relative ; 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 237px;
  height: 44px;
  top: 0;
  left: 0;
  color: #555555; 
  font-family: 'NanumJejuMyeongjo', serif; 
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  z-index: 86;   
}


.special-offer::after {
    content: ""; 
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 200px;      /* 가운데 부분 길이 */
    height: 0.3px;      /* 선 두께 */
    box-shadow: 0px 2px 2px rgb(240, 170, 170) ;   /* 연한 그림자 */
    background: transparent;
    border-radius: 2px;
    pointer-events: none;
}


.special-offer-10 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 175px;
  height: 20px;
  margin: 16px 0 0 31px;
  color: #555555;
  font-family:serif ;  
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 87;
  letter-spacing: 3px ;
}

.group-11 {
  position: relative;
  width: 1196px;
  height: 636px;
  margin: 36px 0 0 0;
  z-index: 73;
}
.group-12 {
  position: absolute;
  width: 1196px;
  height: 636px;
  top: 0;
  left: 0;
  z-index: 74;
}
.group-13 {
  position: absolute;
  width: 1196px;
  height: 636px;
  top: 0;
  left: 0;
  z-index: 75;
}
.flex-row-b {
  position: absolute;
  width: 1194px;
  height: 354px;
  top: 0;
  left: 2px;
  z-index: 79;
}
.rectangle-14 {
  position: absolute;
  width: 790px;
  height: 354px;
  top: 0;
  left: 0;
  background: url(../images/table.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
}
.rectangle-15 {
  position: absolute;
  width: 382px;
  height: 260px;
  top: 0;
  left: 812px;
  background: url(../images/parm.jpg)
    no-repeat center;
  background-size: cover;
  z-index: 79;
}
.flex-row-ee {
  position: absolute;
  width: 1196px;
  height: 354px;
  top: 282px;
  left: 0;
  z-index: 80;
}
.rectangle-16 {
  position: absolute;
  width: 382px;
  height: 354px;
  top: 0;
  left: 814px;
  background: url(../images/phone.jpg)
    no-repeat center;
  background-size: cover;
  z-index: 80;
}
.rectangle-17 {
  position: absolute;
  width: 385px;
  height: 260px;
  top: 94px;
  left: 0;
  background: url(../images/land.jpg)
    no-repeat center;
  background-size: cover;
  z-index: 76;
}
.rectangle-18 {
  position: absolute;
  width: 385px;
  height: 260px;
  top: 94px;
  left: 407px;
  background: url(../images/gallery05.jpg)
    no-repeat ;
  background-size: cover;
  z-index: 77;
}
.frame-19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 1224px;
  margin: 130px 0 0 362px;
  z-index: 128;
}
.group-1a {
  flex-shrink: 0;
  position: relative;
  width: 1224px;
  height: 372px;
  z-index: 130;
}
.group-1b {
  position: absolute;
  width: 693px;
  height: 360px;
  top: 0;
  left: 531px;
  z-index: 130;
}
.rectangle-1c {
  position: absolute;
  width: 693px;
  height: 360px;
  top: 0;
  left: 0;
  background: #f6f6f6;
  z-index: 130;
}
.rectangle-1d {
  position: absolute;
  width: 599px;
  height: 360px;
  top: 0px;
  left: 0;
  background: url(../images/mcard.png) 
    no-repeat ;  
  background-size: cover;
  z-index: 400;
}

.group-1e {
  position: absolute;
  width: 256px;
  height: 79px;
  top: 72px;
  left: 643px;
  font-size: 0px;
  z-index: 132;
}
.shilla-es-membership {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 256px;
  height: 44px;
  margin: 0 0 0 0;
  color: #555555;
  font-family: 'NanumJejuMyeongjo', serif; 
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  z-index: 133;
}

.shilla-membership {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 215px;
  height: 20px;
  margin: 15px 0 0 20px;
  color: #555555;
  font-family: serif ; 
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 134; 
  letter-spacing: 3px ;


}
.group-1f {
  position: absolute;
  width: 482px;
  height: 76px;
  top: 215px;
  left: 643px;
  font-size: 0px;
  z-index: 136;
}
.shilla-es {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 482px;
  height: 24px;
  margin: 0 0 0 0;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; 
  white-space: nowrap;
  z-index: 137;
}

.es-anniversary-event {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 319px;
  left: 643px;
  color: #000000; 
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 139;
}
.frame-20 {
  position: relative ; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  width: 1200px;
  margin: 130px 0 0 362px;
  z-index: 92;  
  height : auto; 
}

.bottom-text-box {
    position: absolute;
    left: 32px ;
    bottom: 32px;
    width: 730px;
    height: 56px;
    color: #101010;
    font-size: 16px;
    line-height: 24px;
    z-index: 100;   
} 


.group-21 {
  flex-shrink: 0;
  position: relative;
  width: 1200px;
  height: 362px;
  z-index: 93;
}
.frame-22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 256px;
  margin: 36px 0 0 472px;
  z-index: 111;
}
.group-23 {
  flex-shrink: 0;
  position: relative;
  width: 256px;
  height: 79px;
  font-size: 0px;
  z-index: 112;
}
.shilla-rewards-24 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 256px;
  height: 44px;
  margin: 0 0 0 0;
  color: #555555;
   font-family: 'NanumJejuMyeongjo', serif; 
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  z-index: 113;
}
.membership-25 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 215px;
  height: 20px;
  margin: 15px 0 0 20px;
  color: #555555; 
  font-family: serif;  
  font-size: 16px ; 
  font-weight:300;
  line-height: 20px;
  text-align:center;
  white-space:nowrap;
  z-index: 114; 
  letter-spacing: 3px ; 
}
.group-26 {
  position: absolute;
  width: 1200px;
  height: 362px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 94;
}
.rectangle-27 {
  position: absolute;
  width: 1200px;
  height: 362px;
  top: 0;
  left: 50%;
  background: #f6f6f6;
  transform: translate(-50%, 0);
  z-index: 95;
}
.rectangle-28 {
  position: absolute;
  width: 211px;
  height: 135px;
  top: 184px;
  left: 913px;
  background: url(../images/rwCard.png)
    no-repeat center;
  background-size: cover;
  z-index: 96;
}
.group-29 {
  position: absolute;
  width: 131px;
  height: 42px;
  top: 200px;
  left: 32px;
  font-size: 0px;
  z-index: 97;
}
.member-exclusive-products {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 121px;
  height: 20px;
  margin: 0 0 0 0;
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 98;
}
.group-2a {
  position: relative;
  width: 131px;
  height: 20px;
  margin: 2px 0 0 0;
  z-index: 99;
}
.products-and-events-for-members {
  display: flex;
/*   align-items: flex-start;
  justify-content: flex-start; */
  position: absolute;
  height: 20px;
  top: 0;
  left: 0 ; 
  color: #000000;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;  
  z-index: 100; 
  padding: 0 ; 
}
.frame-2b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 93px;
  position: absolute;
  width: 407px;
  height: 44px;
  top: 200px;
  left: 238px;
  z-index: 101;
}
.group-2c {
  flex-shrink: 0;
  position: relative;
  width: 156px;
  height: 44px;
  font-size: 0px;
  z-index: 102;
}
.shilla-rewards-benefit {
  display: flex;
  align-items: flex-start;  
  position: relative;
  width: 139px;
  height: 20px;
  margin: 0 0 0 0;
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  white-space: nowrap;
  z-index: 103;
}
.rewards-member-benefit-products {
  display: block;
  position: relative;
  height: 20px;
  margin: 4px 0 0 0;
  color: #000000; 
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 104;
}
.group-2d {
  flex-shrink: 0;
  position: relative;
  width: 158px;
  height: 44px;
  font-size: 0px;
  z-index: 105;
}
.shilla-rewards-points {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 158px;
  height: 20px;
  margin: 0 0 0 0;
  color: #000000; 
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 106;
} 


.points-like-cash {
  display: block;
  position: relative;
  height: 20px;
  margin: 4px 0 0 0;
  color: #000000;

  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 107;
} 

.div-frame {
  position: relative;
  width: 726px;
  height: auto ; 
  margin: 50px 0 0 0;
  z-index: 26; 
}

.shilla-rewards-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 726px;
  height: auto ; 
  top: 0;
  left: 0;
  color: #101010;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: left; 
  z-index: 27;  
}

.group-2e {
  position: absolute;
  width: 113px;
  height: 34px;
  top: 299px;
  left: 1030px;
  font-size: 0px;
  z-index: 108;
}
.join-button {
  display: block;
  position: relative;
  height: 28px;
  margin: 4px 0 0 28px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 110;
}
.rectangle-2f {
  position: absolute;
  width: 113px;
  height: 34px;
  top: 0;
  left: 0;
  background: #3e2b2c;
  z-index: 109;
}
.frame-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 1200px;
  margin: 145px 0 0 362px;
  z-index: 115;
}
.frame-31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  z-index: 116;
}
.group-32 {
  flex-shrink: 0;
  position: relative;
  width: 1200px;
  height: 835px;
  z-index: 117;
}
.group-33 {
  position: relative;
  width: 256px;
  height: 79px;
  margin: 0 0 0 470px;
  z-index: 121;
}
.frame-34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 256px;
  height: 79px;
  top: 0;
  left: 0;
  z-index: 122;
}
.frame-35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  z-index: 123;
}
.group-36 {
  flex-shrink: 0;
  position: relative;
  width: 256px;
  height: 79px;
  z-index: 124;
}
.group-37 {
  position: absolute;
  width: 256px;
  height: 79px;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 125;
}
.gallery { 
  position : relative ; 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 256px;
  height: 44px;
  margin: 0 0 0 0;
  color: #555555;
  font-family: 'NanumJejuMyeongjo', serif; 
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  white-space: nowrap; 
    z-index: 126; 
}

.gallery::after {
    content: ""; 
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 200px;      /* 가운데 부분 길이 */
    height: 0.3px;      /* 선 두께 */
    box-shadow: 0px 2px 2px rgb(240, 170, 170) ;   /* 연한 그림자 */
    background: transparent;
    border-radius: 2px;
    pointer-events: none;
}

.gallery-38 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 215px;
  height: 20px;
  margin: 15px 0 0 20px;
  color: #555555;
  font-family: serif ; 
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 127;
  letter-spacing: 3px ;
}


.flex-row-c {
  position: relative;
  width: 1200px;
  height: 720px;
  margin: 36px 0 0 0;
  z-index: 120;
}
.rectangle-39 {
  position: relative;
  width: 1200px;
  height: 680px; 
  font-weight : 600 ; 
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 118;
}

.rectangle-39 iframe {
    width: 100%;
    height: 100%;
    border: none;
}




.footbox01{
  width : 100% ;   
  height : 170px ; 
  background-color:  #f1ebd6   ; 
  
}

.foot01{
  width : 100% ; 
  max-width : 1210px ;  
  height : 170px ; 
  margin : auto ; 
  color : #101010 ;   
 display : grid ; 
 grid-template-columns: 230px 200px 230px 230px ; 
 grid-template-rows: 68px 100px ; 
} 

.ci_bottom {
  grid-column: 1/2;
  grid-row: 1/-1;     
  width : 400px ;  
  margin-top : 40px ;  
  height : auto ;  
} 

  .shila{ 
  grid-column: 2/3;
  grid-row: 1/2;   
  margin : 42px 20px ;     
  width : 160px ; 
  height : auto ; 
}  


.monogram{ 
  grid-column: 3/4;
  grid-row: 1/2;   
  margin : 20px 0 ;  
  width : 200px ; 
  height : auto ; 
} 

.shillastay{ 
  grid-column: 4/5;
  grid-row: 1/2;   
  margin : 20px 20px ;  
  width : 200px ; 
  height : auto ; 
}

.foot_list{ 
  grid-column: 2/-1;
  display : flex ;  
  list-style: none; 
  color : #666 ;  
  align-items: center; 
  font-size: 12px ;
} 

.foot_list >li {
  margin : 0 10px ; 
}

.sns{
  grid-column : 7/-1  
}


.foot02{
  display : grid ; 
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 1fr ;   
  margin-top : 0 ;  
}  

.rules{  
  grid-column: 1/2;    
  display : flex ; 
  list-style: none ;  
  font-size: 16px ; 
  line-height: 24px ;
  color : #666 ; 
  margin : 20px  0 0 0  ;  
  padding: 0 ;
} 



.language{
  grid-column : 2/-1  ; 
  display : flex ; 
  list-style : none ;  } 

.language>li {
  margin : 0 10px ; 
  width : 70px ; 
}

.info{
  grid-row: 2/-1 ; 
  display : inline-block ; 
  margin-top : 0 ; 
  font-size: 16px; 
  margin : 0 ; 
  padding : 0 ;  
  color : #666 ;   
  line-height: 24px ;
} 

.certif{ 
  grid-column: 2/-1; 
  grid-row: 2/-1;  
}
















.footbox02{
  width : 100% ;   
  height : 183px ; 
  position: absolute ; 
}  



.foot02 {
  width : 1210px ; 
  height : 183px ; 
  margin : auto ; 
/*   background: url(../images/footshot02.png) no-repeat;
  background-size: cover;
 */}


.rectangle-3e {
  flex-shrink: 0;
  position: relative;
  width: 1200px;
  height: 182px;
  background: #d9d9d9;
  z-index: 90;
}
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 116px;
  height: 18px;
  top: 75px;
  left: 987px;
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 91;
}

.banner{
 position: absolute; 
 width: 1920px;
  height: 650px;  
  left: 0;    } 

  .arrow_b {
    position: absolute;
    left: 5%; 
    top: 50%;
    transform: translateY(-50%);
    width: 12%;           
    opacity : 80% ; 
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 40px;
    z-index: 10;
} 

  .arrow_f {
    position: absolute;
    right: 5%; 
    top: 50%; 
    transform: translateY(-50%);
    width: 12%;          
    opacity : 80% ; 
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 40px;
    z-index: 10;
} 



.banner04{ 
  position: absolute;
  width: 1920px;
  height: 650px;    
  left: 0;
  background : url(../images/banner4.jpg) no-repeat center;     
  background-size: cover;  
  margin: auto ; 
  z-index: 1;   
 }

 .banner05{
   position: absolute;
  width: 1920px;
  height: 650px; 
  left: 0;
  background : url(../images/banner5.jpg) no-repeat center;     
  background-size: cover;  
  margin: auto ; 
  z-index: 1;    
}


.banner01  {
  position: absolute;
  width: 1920px;
  height: 650px; 
  left: 0;
  background: url(../images/banner1.jpg)
    no-repeat center;
  background-size: cover;  
  margin: auto ; 
  z-index: 1;
 }   

.banner02{ 
  position: absolute;
  width: 1920px;
  height: 650px;
  left: 0;
  background : url(../images/banner2.jpg) no-repeat center;     
  background-size: cover; 
  margin: auto ;      
   z-index: 1; 
 }

.banner03{ 
  position: absolute;
  width: 1920px;
  height: 650px;
  left: 0;
  background : url(../images/banner3.jpg) no-repeat center;     
  background-size: cover;  
    margin: auto ; 
   z-index: 1; 
 }

 
 /* 예약창  */   

.group-40 {
  position: absolute ; 
  width : 1200px ; 
  height: 100px;
  top: 740px;
  right: 358px;
  left: 359px;
  background: #fff ; 
  background-size: cover ; 
  z-index: 38;  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
 }   

 .search_box{
  position : absolute ; 
  right: 0;
  bottom: 0;
  height : 60px; 
  width :  135px ; 
  background-color: #3E2B2C ; 
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.search {
  color : white ; 
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;   
}



 .rectangle-41 {
  position: absolute;
  width: 977px;
  height: 60px;
  top: 783px;
  left: 362px;
   z-index: 40;  }
 



.table{
  border-collapse: collapse ;  
  width : 960px ;  
  text-align: center; 
  margin-left : 0 ; 
  margin-bottom: 3px;
}



.table tr:first-child td {
    font-size: 12px;
}  

.table tr:first-child td:first-child {
    text-align: left; 
    padding: 0;
}

.table tr:nth-child(2) td {
    font-size: 16px;
} 

.table tr:nth-child(2) td:first-child {
  text-align: left; 
    padding : 0 ;   
    position : relative ;    
}  

.h-search{
  width : 20px ; 
  height : 20px ; 
  padding-left : 20px ; 
} 





.hotel-city {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: -1px;
  left: 0;
  color: #101010;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.check-in {
  display: flex;   
 position: absolute;
  height: 24px;
  top: -1px;
  left: 260px;
  color: #101010; 
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center ; 
  white-space: nowrap;
  z-index: 58;
}
.children {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: -1px;
  left: 855px;
  color: #101010; 
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.adult {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: -1px;
  left: 767px;
  color: #101010; 
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.check-out {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 527px;
  color:#101010; 
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 59;
}
.room {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 672px;
  color: #101010; 
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.infant {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 946px;
  color: #101010; 
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.group-42 {
  position: absolute;
  width: 140px;
  height: 56px;
  top: 1px;
  left: 260px;
  z-index: 48;
}
.group-43 {
  position: absolute;
  width: 239px;
  height: 55px;
  top: 2px;
  left: 0;
  z-index: 41; 
}
.group-44 {
  position: absolute;
  width: 124px;
  height: 55px;
  top: 2px;
  left: 527px;
  z-index: 42;
  text-align: center;

}
.group-45 {
  position: absolute;
  width: 85px;
  height: 55px;
  top: 2px;
  left: 421px;
  z-index: 47;   
}  

.night {
  width : 25px ; 
  height : 25px ;      
}


.rectangle-46 {
  position: absolute;
  width: 36px;
  height: 55px;
  top: 2px;
  left: 853px; 
  z-index: 45;
}

.rectangle-47 {
  position: absolute;
  width: 36px;
  height: 55px;
  top: 2px;
  left: 941px;
   z-index: 46;  
}
.rectangle-48 {
  position: absolute;
  width: 26px;
  height: 55px;
  top: 2px;
  left: 672px;
  z-index: 43;
}
.rectangle-49 {
  position: absolute;
  width: 26px;
  height: 55px;
  top: 2px;
  left: 766px;
  z-index: 44;
}

.select-hotel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 35px;
  left: 0;
  color: #333; 
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;  

}

.search-icon-2{
  width : 20px ; 
  height : 20px ;  
  margin-left: 30px ;
}


.date-mon {
  display: flex;
  align-items: flex-start;
  justify-content: center ; 
  position: absolute;
  height: 24px;
  top: 35px;
  left: 260px;
 color: #333; 
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.date-tue {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 35px;
  left: 527px;
  color: #333; 
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.one-night {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 35px;
  left: 421px;
  color: #333; 
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center ; 
  white-space: nowrap;
  z-index: 57;
}
.one {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 35px;
  left: 679px;
  color: #333; 
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.two {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 35px;
  left: 774px;
  color: #333; 
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.zero {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 35px;
  left: 867px;
  color: #333; 
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.zero-4a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 35px;
  left: 953px;
  color: #333; 
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
} 



 .valid-html, .valid-css{
  position: relative ; 
  left : 700px ;  
  top : 200px ; 
 }
